footer {
    padding: 35px 0 30px;
    border-top: 1px solid #e5e5e5;
}

footer a {
    list-style: none;
    text-decoration: none;
    color: #9b9b9b;
}

footer a:hover {
    color: #c9444f;
}

footer i {
    margin-right: 10px;
    font-size: 20px;
}

footer .fa-telegram {
    padding: 0 10px;
    border-right: 1px solid #acacac;
    border-left: 1px solid #acacac;
}

footer p {
    font-family: var(--r-m);
    font-size: 12px;
    color: #3e3e3e;
    text-align: center;
    margin-top: 10px;
}


@media (max-width: 1099px) {


    footer {
        padding: 30px 0 28px;
    }

    footer i {
        margin-right: 10px;
        font-size: 20px;
    }

    footer .fa-telegram {
        padding: 0 10px;
    }
}

@media (max-width: 992px) {
    footer {
        padding: 28px 0 26px;
    }

    footer i {
        margin-right: 8px;
        font-size: 18px;
    }

    footer .fa-telegram {
        padding: 0 8px;
    }
}

@media (max-width: 991px) {

    footer {
        padding: 28px 0 26px;
    }

    footer i {
        margin-right: 8px;
        font-size: 18px;
    }

    footer .fa-telegram {
        padding: 0 8px;
    }
}

@media (max-width: 767px) {

    footer {
        padding: 20px 0;
    }

    footer p {
        font-size: 12px;
        margin-top: 8px;
    }

    footer i {
        margin-right: 8px;
        font-size: 18px;
    }

    footer .fa-telegram {
        padding: 0 8px;
    }
}


@media (max-width: 450px) {
    footer p {
        font-size: 10px;
        margin-top: 8px;
    }
}
